<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

<main class="container">
	<h1 class="form-heading text-center sumar">S.U.M.AR.</h1>
	<h2 class="subtitulo text-center">Sistema Único Médico Argentino</h2>
		<div class="login-form">
			<div class="main-div">
    			<div>
   					<h1 class="ingreso">Ingreso</h1>
   				</div>
    			<form #loginForm="ngForm" (ngSubmit)="postLogin()" id="Login">
        			<div class="form-group">
            			<input type="text" class="form-control" required placeholder="DNI" [(ngModel)]="loginInfo.dni" #dni="ngModel" name="dni">
        			</div>
        			<div class="form-group">
            			<input type="password" class="form-control" required placeholder="Contraseña" [(ngModel)]="loginInfo.password" #password="ngModel" name="password">
        			</div>
                    <div *ngIf="(alertaLogin && (!loginInfo.dni || !loginInfo.password)) || alertaLogin" class="alert alert-danger">
                        <strong>Ups!</strong> {{alertaLogin}}
                    </div>
        			<div class="forgot">
        				<a class="btn btn-xs btn-info text-white" data-toggle="modal" data-target="#olvidoPassword">Olvidaste tu contraseña?</a>
					</div>
        			<button type="submit" class="btn btn-primary boton-login">INGRESAR</button>
        			<div class="text-center">
        				<a class="btn btn-xs btn-info text-white" data-toggle="modal" data-target="#nuevaCuenta"><span>Crear nueva cuenta</span></a>
					</div>
    			</form>
    		</div>
    	</div>
</main>

<!-- Modal nueva cuenta con form-->
<div class="modal fade" id="nuevaCuenta" role="dialog" aria-labelledby="cuentaNuevaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-nueva-cuenta">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva Cuenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #nuevaCuentaForm="ngForm">
                    <div class="row form-group col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">Nombre/s:</label><input type="text" class="form-control" [(ngModel)]="nuevaCuenta.nombre" #nombre="ngModel" name="nombre">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Apellido/s:</label><input type="text" class="form-control" [(ngModel)]="nuevaCuenta.apellido" #apellido="ngModel" name="apellido">
                        </div>
                    </div>
                    <div class="row form-group col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">Fecha Nacimiento:</label><input type="date" class="form-control" [(ngModel)]="nuevaCuenta.fechaNacimiento" #fechaNacimiento="ngModel" name="fechaNacimiento">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Sexo:</label>
                                    <select class="form-control" [(ngModel)]="nuevaCuenta.sexo" #sexo="ngModel" name="sexo">
                                        <option value="masculino">Masculino</option>
                                        <option value="femenino">Femenino</option>
                                    </select>
                        </div>
                    </div>
                    <div class="row form-group col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">Contraseña:</label><input type="password" class="form-control" required [(ngModel)]="nuevaCuenta.password" #password="ngModel" name="password">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Confirmar Contraseña:</label><input type="password" class="form-control" required [(ngModel)]="nuevaCuenta.confirmPassword" #confirmPassword="ngModel" name="confirmPassword">
                        </div>
                    </div>
                    <div class="row form-group col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">DNI:</label><input type="text" class="form-control" required [(ngModel)]="nuevaCuenta.dni" #dni="ngModel" name="dni">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Email:</label><input type="email" class="form-control" required [(ngModel)]="nuevaCuenta.email" #email="ngModel" name="email">
                        </div>
                    </div>
                    <div class="col-md-12">
                         <div *ngIf="( alertaNuevaCuenta && alertaNuevaCuenta != 'success')" class="alert alert-danger">
                            <strong>Ups!</strong> {{alertaNuevaCuenta}}
                        </div>
                        <div *ngIf="( infoNuevaCuenta )" class="info alert-info">
                            {{infoNuevaCuenta}}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="postNuevaCuenta();" class="btn btn-primary">Generar cuenta</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal olvido de password-->
<div class="modal fade" id="olvidoPassword" role="dialog" aria-labelledby="olvidoPasswordLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-nueva-cuenta">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Olvido de password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form *ngIf="(!mailEnviadoOlvidoPassword && !codigoEnviado)" #olvidoPasswordForm="ngForm">
                    <div class="row form-group col-md-12">
                        <div class="col-md-8">
                            <label class="control-label">Email:</label><input type="text" class="form-control" [(ngModel)]="emailOlvidoPassword" #email="ngModel" name="email" placeholder="Ingresá tu email">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div *ngIf="( alertaOlvidoPassword )" class="alert alert-danger">
                            {{alertaOlvidoPassword}}
                        </div>
                        <div *ngIf="( infoOlvidoPassword )" class="info alert-info">
                            {{infoOlvidoPassword}}
                        </div>
                    </div>
                </form>
                <form *ngIf="(mailEnviadoOlvidoPassword)" #codigoForm="ngForm">
                    <div class="row form-group col-md-12">
                        <div class="col-md-8">
                            <label class="control-label">Código de verificación:</label><input type="text" class="form-control" [(ngModel)]="codigoVerificacionPassword" #codigo="ngModel" name="codigo" placeholder="Ingresá el código envidado.">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div *ngIf="( alertaVerificacionPassword )" class="alert alert-danger">
                            {{alertaVerificacionPassword}}
                        </div>
                        <div *ngIf="( infoVerificacionPassword )" class="info alert-info">
                            {{infoVerificacionPassword}}
                        </div>
                    </div>
                </form>
                <form *ngIf="(codigoEnviado)" #resetPasswordForm="ngForm">
                    <div class="row form-group col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">Contraseña:</label><input type="password" class="form-control" [(ngModel)]="resetPassword.password" #password="ngModel" name="password">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Confirmar contraseña:</label><input type="password" class="form-control" [(ngModel)]="resetPassword.confirmPassword" #confirmPassword="ngModel" name="confirmPassword">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div *ngIf="( alertaResetPassword )" class="alert alert-danger">
                            {{alertaResetPassword}}
                        </div>
                        <div *ngIf="( infoResetPassword )" class="info alert-info">
                            {{infoResetPassword}}
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="(!mailEnviadoOlvidoPassword && !codigoEnviado)" class="modal-footer">
                <button type="button" (click)="postOlvidoPassword();" class="btn btn-primary">Buscar</button>
            </div>
            <div *ngIf="(mailEnviadoOlvidoPassword && !codigoEnviado)" class="modal-footer">
                <button type="button" (click)="postConfirmarCodigo(); infoOlvidoPassword = undefined; alertaOlvidoPassword = undefined; mailEnviadoOlvidoPassword = false;" class="btn btn-primary">Enviar codigo</button>
            </div>
            <div *ngIf="(codigoEnviado)" class="modal-footer">
                <button type="button" (click)="postChangePassword(); infoVerificacionPassword = undefined; alertaVerificacionPassword = undefined;" class="btn btn-primary">Cambiar contraseña</button>
            </div>
        </div>
    </div>
</div>