<header></header>
<main>
	<div class="jumbotron">
	  <ul>
	  	<li><legend>Nombre: {{perfil.nombre}}</legend></li>
	  	<li><legend>Apellido: {{perfil.apellido}}</legend></li>
	  	<li><legend>Sexo: {{perfil.sexo}}</legend></li>
	  	<li><legend>DNI: {{perfil.dni}}</legend></li>
	  	<li><legend>Edad: {{perfil.edad}}</legend></li>
	  	<li><legend>Email: {{perfil.email}}</legend></li>
	  	<li><legend>Fecha de nacimiento: {{perfil.fechaNacimiento}}</legend></li>
	  	<li><legend>Nacionalidad: {{perfil.nacionalidad}}</legend></li>
	  	<li><legend>Estado Civil: {{perfil.estadoCivil}}</legend></li>
	  	<li><legend>Telefono Fijo: {{perfil.telefonoFijo}}</legend></li>
	  	<li><legend>Telefono Celular: {{perfil.telefonoCelular}}</legend></li>
	  	<li><legend>Código de Historia Clínica: {{perfil.idHistoria}}</legend></li>
	  </ul>
	  <hr class="my-4">
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	  </p>
	</div>
</main>
<footer></footer>